<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".CargoQuery"
            android:exported="false"
            android:parentActivityName=".HomeMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenuActivity" />
        </activity>
        <activity
            android:name=".InitialInterface"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoList"
            android:exported="false"
            android:parentActivityName=".HomeMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenuActivity" />
        </activity>
        <activity
            android:name=".BoatQuery"
            android:exported="false"
            android:parentActivityName=".HomeMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenuActivity" />
        </activity>
        <activity
            android:name=".CargoMessageInput"
            android:exported="false"
            android:parentActivityName=".HomeMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenuActivity" />
        </activity>
        <activity
            android:name=".BoatMessageInput"
            android:parentActivityName=".HomeMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenuActivity" />
        </activity>
        <activity
            android:name=".UserActivity"
            android:exported="false"
            android:parentActivityName=".HomeMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenuActivity" />
        </activity>
        <activity
            android:name=".RegActivity"
            android:exported="false" />
        <activity
            android:name=".HomeMenuActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity2"
            android:exported="false"
            android:parentActivityName=".HomeMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenuActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>